{% if debug | default(false) or 'cpu' in monitor_vm_infra_metrics %}
cpu:
  metrics:
    system.cpu.utilization:
      enabled: true
{% endif %}

{% if debug | default(false) or monitor_vm_infra_metrics | selectattr('memory', 'defined') | list | length > 0 %}
memory:
{% endif %}

{% if debug | default(false) or monitor_vm_infra_metrics | selectattr('disk', 'defined') | list | length > 0 %}
disk:
  {% include 'fragments/disk_mounts.yml.j2' %}
{% endif %}

{% if debug | default(false) or 'filesystem' in monitor_vm_infra_metrics %}
filesystem:
{% endif %}

{% if debug | default(false) or 'network' in monitor_vm_infra_metrics %}
network:
{% endif %}

{% if (debug | default(false) or 'load' in monitor_vm_infra_metrics) and ansible_os_family != "Windows" %}
load:
{% endif %}

{% if (debug | default(false) or 'paging' in monitor_vm_infra_metrics) and ansible_os_family == "Windows" %}
paging:
{% endif %}

{% if debug | default(false) or monitor_vm_infra_metrics | selectattr('process', 'defined') | list | length > 0 %}
process:
  {% include 'fragments/process_config.yml.j2' %}
{% endif %}