mute_process_name_error: true
{% set process_names = [] %}
{% for item in monitor_vm_infra_metrics | default([]) %}
  {% if item is mapping and 'process' in item %}
    {% for proc_item in item.process %}
      {% if proc_item is mapping and 'name' in proc_item %}
        {% for proc in proc_item.name %}
          {% if proc is string %}
            {% set process_names = process_names + [proc] %}
          {% elif proc is mapping %}
            {% set process_names = process_names + [proc | first] %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if process_names | length > 0 %}
names:
  {% for name in process_names %}
  - {{ name }}
  {% endfor %}
{% endif %}