receivers:
  otlp:
    protocols:
      grpc:
        endpoint: {{ otel_receiver_otlp_grpc_endpoint | default('0.0.0.0:4317') }}
      http:
        endpoint: {{ otel_receiver_otlp_http_endpoint | default('0.0.0.0:4318') }}
  
  {% if monitor_vm_infra_metrics is defined or debug | default(false) %}
  hostmetrics:
    collection_interval: {{ otel_hostmetrics_interval | default('60s') }}
    scrapers:
      {% include 'fragments/hostmetrics_scrapers.yml.j2' %}
  {% endif %}
  
  {% include 'fragments/logging_receivers.yml.j2' %}