processors:
  batch:
  
  memory_limiter:
    check_interval: 5s
    limit_mib: {{ otel_memory_limit_mib | default(500) }}
    spike_limit_mib: {{ otel_memory_spike_limit_mib | default(100) }}
  
  resourcedetection:
    detectors: [env, system]
    timeout: 5s
    system:
      hostname_sources: [os]
  
  {% include 'common/fragments/attribute_processor.yml.j2' %}