{# DEBUG INFO #}
{# add_labels is: {{ add_labels | default('UNDEFINED') }} #}
{# remove_labels is: {{ remove_labels | default('UNDEFINED') }} #}
{# logging_processes is: {{ logging_processes | default('UNDEFINED') }} #}
{# sent_to is: {{ sent_to | default('UNDEFINED') }} #}
{# debug is: {{ debug | default('UNDEFINED') }} #}

service:
  pipelines:
    metrics:
     receivers: [{% if monitor_vm_infra_metrics is defined and monitor_vm_infra_metrics %}hostmetrics, {% endif %}otlp]
      processors: [memory_limiter, batch, resourcedetection{% if add_labels is defined and add_labels or remove_labels is defined and remove_labels %}, attributes{% endif %}]
      exporters: [
        {% if debug | default(false) or (sent_to is defined and sent_to | selectattr('grafana_cloud', 'defined') | list | length > 0) %}otlp{% endif %}
      ]
    
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch, resourcedetection{% if add_labels | default({}) or remove_labels | default([]) %}, attributes{% endif %}]
      exporters: [
        {% if debug | default(false) or sent_to | selectattr('grafana_cloud', 'defined') | list | length > 0 %}otlp{% if debug | default(false) or sent_to | selectattr('splunk_enterprise', 'defined') | list | length > 0 %}, {% endif %}{% endif %}
        {% if debug | default(false) or sent_to | selectattr('splunk_enterprise', 'defined') | list | length > 0 %}splunk_hec/logs{% endif %}
      ]
    
    logs:
      receivers: [otlp{% if debug | default(false) or logging_processes | default([]) | length > 0 %}{% if ansible_os_family == "Windows" %}, windowseventlog{% else %}, filelog{% endif %}{% endif %}]
      processors: [memory_limiter, batch, resourcedetection{% if add_labels | default({}) or remove_labels | default([]) %}, attributes{% endif %}]
      exporters: [
        {% if debug | default(false) or sent_to | selectattr('grafana_cloud', 'defined') | list | length > 0 %}otlp{% if debug | default(false) or sent_to | selectattr('splunk_enterprise', 'defined') | list | length > 0 %}, {% endif %}{% endif %}
        {% if debug | default(false) or sent_to | selectattr('splunk_enterprise', 'defined') | list | length > 0 %}splunk_hec/logs{% endif %}
      ]