receivers:
{% for receiver_name, receiver_config in effective_otelcol_config.receivers.items() %}
{% if receiver_config.enabled %}
  {{ receiver_name }}:
    {% if receiver_name == 'hostmetrics' %}
    collection_interval: {{ receiver_config.collection_interval }}
    scrapers:
      {% for scraper in receiver_config.scrapers %}
      - {{ scraper }}
      {% endfor %}
    {% elif receiver_name == 'journald' and ansible_os_family in ['RedHat', 'Debian'] %}
    units: {{ receiver_config.units | to_json }}
    {% elif receiver_name == 'windowseventlog' and ansible_os_family == 'Windows' %}
    # Windows-specific config
    {% endif %}
{% endif %}
{% endfor %}

processors:
  batch: 
  resourcedetection:
    enabled: true
    detectors: [system, env]
  memory_limiter:
    spike_limit_mib: {{ otel.processors.memory_limiter.limit_mib | default(20) }}
    spike_limit_percentage: {{ otel.processors.memory_limiter.spike_limit_mib | default(20) }}

{% if otel.processors.redaction.enabled %}
  redaction:
    allowed_patterns: []
    blocked_key_patterns: {{ otel.processors.redaction.blocked_key_patterns | to_json }}
    blocked_patterns: {{ otel.processors.redaction.blocked_patterns | to_json }}
{% endif %}

exporters:
  splunk_hec:
    token: {{ otel.send_to.splunk_hec.token }}
    endpoint: {{ otel.send_to.splunk_hec.endpoint }}
    source: {{ otel.send_to.splunk_hec.source | default("otelcol") }}
    sourcetype: {{ otel.send_to.splunk_hec.sourcetype | default("otelcol") }}
    index: {{ otel.send_to.splunk_hec.index }}

service:
  pipelines:
    metrics:
      receivers: [{% for rec in otel.collect if otel.collect[rec].enabled %}{{ rec }}{% if not loop.last %}, {% endif %}{% endfor %}]
      processors: [{% for proc in otel.processors if otel.processors[proc].enabled %}{{ proc }}{% if not loop.last %}, {% endif %}{% endfor %}]
      exporters: [{% for exp in otel.exporters if otel.exporters[exp].enabled %}{{ exp }}{% if not loop.last %}, {% endif %}{% endfor %}]