receivers:
{% if otel.receivers.host_metrics.enabled %}
  hostmetrics:
    collection_interval: {{ otel.receivers.host_metrics.collection_interval }}
    scrapers: {{ otel.receivers.host_metrics.scrapers | to_json }}
{% endif %}

{% if otel.receivers.journald.enabled and ansible_os_family == "Linux" %}
  journald:
    units: {{ otel.receivers.journald.units | to_json }}
    priority: {{ otel.receivers.journald.priority }}
{% endif %}

{% if otel.receivers.mssql.enabled and ansible_os_family == "Windows" %}
  windowsperfcounters/mssql:
    collection_interval: {{ otel.receivers.mssql.collection_interval }}
    counters: {{ otel.receivers.mssql.counters | to_json }}
{% endif %}

processors:
{% if otel.processors.batch.enabled %}
  batch: {}
{% endif %}

{% if otel.processors.redaction.enabled %}
  redaction:
    allowed_patterns: []
    blocked_patterns: {{ otel.processors.redaction.blocked_patterns | to_json }}
{% endif %}

exporters:
{% if otel.exporters.otlp.enabled %}
  otlp:
    endpoint: {{ otel.exporters.otlp.endpoint }}
    tls:
      insecure: true
{% endif %}

service:
  pipelines:
    metrics:
      receivers: [{% for rec in otel.receivers if otel.receivers[rec].enabled %}{{ rec }}{% if not loop.last %}, {% endif %}{% endfor %}]
      processors: [{% for proc in otel.processors if otel.processors[proc].enabled %}{{ proc }}{% if not loop.last %}, {% endif %}{% endfor %}]
      exporters: [{% for exp in otel.exporters if otel.exporters[exp].enabled %}{{ exp }}{% if not loop.last %}, {% endif %}{% endfor %}]