[Unit]
Description=OpenTelemetry Collector Contrib
After=network.target

[Service]
User=otelcol-contrib
Group=otelcol-contrib
ExecStart={{ otelcol_binary_path }} --config={{ otelcol_config_path }}
Restart=always
RestartSec=10
LimitNOFILE=65536
{% if ansible_os_family == 'RedHat' and ansible_distribution_major_version|int >= 7 %}
ProtectSystem=full
ReadWritePaths={{ otelcol_log_dir }} {{ otelcol_data_dir | default('/var/lib/otelcol-contrib') }}
{% endif %}

[Install]
WantedBy=multi-user.target